# Rust specific ignores
/target/
**/*.rs.bk
Cargo.lock

# macOS specific ignores
.DS_Store
.AppleDouble
.LSOverride

# IDE specific ignores (uncomment if you use these)
/.vscode/
# /.idea/

# Backup files
*.swp
*.bak
*~

# Environment file (if you use one)
.env

# Node.js specific ignores
/node_modules/
/dist/
/build/
/npm-debug.log
/yarn-error.log
/package-lock.json  # Add this line if you want to ignore it

# TypeScript specific ignores
*.tsbuildinfo

# React specific ignores
*.eslintcache
serviceWorker.js
serviceWorker.ts
coverage/

# three.js / React Three Fiber (r3f) specific ignores
/three/examples/jsm/libs/draco/
__r3f_cache/
react-ts/package-lock.json
